/* body {
    padding: 2em;
  }
  .card {
    border: none;
  }
  img,
  .card-img-top {
    border-radius: 0em;
  }
  
  @media (min-width: 576px) {
    .card-columns {
      column-count: 2;
    }
  }
  
  @media (min-width: 768px) {
    .card-columns {
      column-count: 3;
    }
  }
  
  @media (min-width: 992px) {
    .card-columns {
      column-count: 4;
    }
  }
  
  @media (min-width: 1200px) {
    .card-columns {
      column-count: 5;
    }
  }
   */
   a:hover{
    color: rgb(79, 236, 11);
}
a{
    color: rgb(146, 25, 25);
    text-decoration: none;
}