
  @media (min-width: 576px) {
    #carselaImg{
      height: 30vh;
    }
    #caruselaimg{
      height: 70vh;
    }
    }
  

   a:hover{
    color: rgb(79, 236, 11);
}
a{
    color: rgb(146, 25, 25);
    text-decoration: none;
}
